<div id="<%= dom_id music_set %>">
  <p>
    <strong>Name:</strong>
    <%= music_set.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= music_set.style %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= music_set.duration %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= music_set.date %>
  </p>

</div>
