<div id="<%= dom_id dj %>">
  <div id="djbox">

    <p>
    <strong>ID in db:</strong>
    <%= dj.id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= dj.name %>
    </p>

    <p>
      <strong>Genre:</strong>
      <%= dj.genre %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= dj.age %>
    </p>

  </div>

</div>
